openapi: "3.0.3"
info:
  description: This api converts file formats of OpenXml and OpenOffice documents
    formats to vector files (e.g., svg)
  contact:
    name: Presalytics.io
    url: http://presalytics.io
    email: kevin@presalytics.io
  license:
    url: https://presalytics.github.io/doc-converter/license
    name: Presalytics AGPL license
  title: Doc Converter
  version: '0.1'
servers:
- url: https://api.presalytics.io/doc-converter/
  description: Base server
  variables:
    protocol:
      enum:
      - https
      default: https
paths:
  /svgconvert:
    post:
      summary: converts pptx file to svg image
      operationId: svgconvert
      requestBody:
        description: Fizepath to pptx file
        required: true
        content:
          multipart/form-data:
            schema:
              title: File to Convert
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Url of svg file
          content:
            application/json:
              schema:
                type: object
                title: File Url
                properties:
                  blob_name:
                    type: string
                  blob_url:
                    type: string

        '400':
          description: Bad Request.
        '415':
          description: Invalid file type
  /pngconvert:
    post:
      summary: converts pptx file to png image
      operationId: pngconvert
      requestBody:
        description: Multipart Message With pptx file and filename
        required: true
        content:
          multipart/form-data:
            schema:
              title: File to Convert
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '202':
          description: Redis cache and url Key converted png file object
          content:
            application/json:
              schema:
                type: object
                title: File Url
                properties:
                  cacheKey:
                    type: string
                  url:
                    type: string
                  status:
                    type: string

        '400':
          description: Bad Request.
        '415':
          description: Invalid file type

  /pngconvert/{id}:
    get:
      summary: Retrieves a previous converted file
      operationId: png_get
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A png file
          content:
            image/png:
              schema:
                type: string
                format: binary
        '202':
          description: status message
          content:
            application/json:
              schema:
                type: object
                title: File Url
                properties:
                  cacheKey:
                    type: string
                  url:
                    type: string
                  status:
                    type: string
        '404':
          description: Not Found Or Expired


