openapi: 3.0.2
info:
  description: This api converts file formats of OpenXml and OpenOffice documents
    formats to vector files (e.g., svg)
  contact:
    name: Presalytics.io
    url: http://presalytics.io
    email: kevin@presalytics.io
  license:
    name: AGPL
  title: Doc Converter
  version: '0.1'
servers:
- url: https://api.presalytics.io/doc-converter/
  description: Base server
  variables:
    protocol:
      enum:
      - https
      default: https
paths:
  /svgconvert:
    post:
      summary: converts pptx file to svg image
      operationId: svgconvert
      requestBody:
        description: Fizepath to pptx file
        required: true
        content:
          multipart/form-data:
            schema:
              title: File to Convert
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Url of svg file
          content:
            application/json:
              schema:
                type: object
                title: File Url
                properties:
                  blob_name:
                    type: string
                  blob_url:
                    type: string

        '400':
          description: Bad Request.
        '415':
          description: Invalid file type
  /:
    get:
      description: Test function to get return inforation
      summary: Says Hello
      operationId: hello
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Hello
                type: string

